#secenek {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
    font: 13px/27px Roboto, Arial, sans-serif;
    line-height: normal;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    margin: 100px;
}

.search-area {
    background: #fff;
    display: flex;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
}

.search-area:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}


.search-img {
    display: flex;
    align-items: center;
    margin-top: -5px;
    background-color: transparent;
}

.search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    background-color: transparent;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.input-enter {
    
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 100px;


}

.input-area {
    
    margin-bottom: 65px;
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    
}

.input {
    margin-top: 500px;
    display: inline-block;
    writing-mode: horizontal-tb !important;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: normal;
    height: 34px !important;


}

.buttons {
    display: block;
    text-align: -webkit-center;
    padding-top: 15px;
}

.buttons a {
    writing-mode: horizontal-tb !important;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
}

.googlesearch {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.feelinglucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.googlesearch:hover,
.feelinglucky:hover {
    box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.24);
}

.footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    list-style-type: none;
    background-color: #f2f2f2;


}

.footerli {
    float: left;
}

.footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;

}


.footerli a:hover {
    text-decoration: underline;
}

.footer-bir {
    padding: 10px 1px;
    color: #70757a;
    margin-bottom: 40px;
    border-bottom: #dfe1e5;
    text-decoration: none;
    border-top: #fff;
}